
h4{   
    color: #b200ff;     
}
a {
    color: #b200ff; 
}

#map-canvas {
	height: 100%
	width: 100%;
	padding-right: 20%;
	padding-left: 20%;
	display: block;
	overflow: auto;
}

.venu-group {
	position: absolute;
	top: 5px;  
    overflow: auto;
	width: 380px;
	height: 85%;
	right: 30px;
	z-index: 1;
}
.media {
	background: #e8e8ee;
}
.venueInfowindow {
	max-width: 295px;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
   
}

.venueInfowindow .venueName {
	font-size: 18px;
	font-weight: 400;
}

.venueInfowindow .special {   
	font-style: italic;
}

.venueRating {
	float: right;
}

.left-inner-addon {
	position: relative;
}
.search-bar {
	position: absolute;
	top: 5px;
	z-index: 1;
	left: 50px;
}
.bgimg {
	max-width: 250px !important;
}
.search-bar input.form-control {
	width: 120px;
	display: inline-block;
	font-size: 12px;
}

#display_list{
	display:none;
}

@media only screen and (max-width : 760px) {
	#display_list{
		display:block;
		position: absolute;
		top: 50px;
		z-index: 2;
		left: 180px;
	}
	.venu-group {
		position: absolute;
		top: 60px;
		display: block;
		overflow: auto;
		width: 200px;
		height: 80%;
		right: 20px;
		z-index: 1;
		font-size: small;
	}
	.media {
		width: 200px;
		height: 100px;
		background: #e8e8ee;
		font-size: small !important;
	}
	.pull-left {
		width: 60px;
	}

 
	
	.search-bar {
		position: absolute;
		top: 5px;
		z-index: 1;
		left: 20px;
	}
	.search-bar input {
		width: 100px;
		display: inline-block;
		font-size: 12px;
	}
	.badge {
		font-size: 8px;
        
	}

	.media-heading,.list-group-item-text {
		font-size: 10px;
		word-wrap: break-word;
	}

	.venueInfowindow {
		max-width: 100px;
	}

	.venueInfowindow .venueName {
	    font-size: 10px; 
	}
	#map-error {
		height: 100%;
		width: 100%;
		padding-top: 20%;
		padding-right: 20%;
		padding-left: 60%;
		display: block;
		overflow: auto;
	}

}
